header{
  background: black;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0px;
  height: 20px;
}
/*shows how the contents within the header should be styled */
header .lol img {
  flex-direction: row;
  height: 50px;
  width: 69px;
  border-radius: 90px;
}/*shows how the image file within the lol class inside the header tag should be styled*/
header.lol img:hover {

  border: 5px solid red;
} /*shows how the image file should be styled when the mouse hovers over it*/


body{

width: 100%;
background-color: #cccccc;
}/*the contents inside the body is styled*/
body .lol {
  font-family: 'Poppins', sans-serif;/*the google api font is used*/
  font-size: 20px;

} /*the contents inside the lol class within body is styled*/
.menu {
  margin-top: -4px;
  margin-bottom: -4.5px;


}

.menu ul {

  margin: 0 0 0 0;

  list-style: none;
  background: #193441;
  display: block;
  display: flex;/*shows that the contents within ul tag should be
  displayed in  a flex*/
  justify-content: space-around;/*shows how the flexed contents should be justified*/

}
 /*shows how the contents within ul should be styled which is within
menu class*/

.menu ul li {

  flex-direction: row;/*shows how the flex items should be placed, in this case
  it's row*/
  color: white;
  padding: 8px;
  font-family: 'Poppins', sans-serif;
}

.menu ul li ul {
  display: none;
  position: absolute;width: 10%;
}

.menu ul li a {
  color: white;
  text-decoration: none;/*the underline of the hyperlink is removed*/
}

.menu ul li:hover {
  background-color:#6374c6;
  border: 1px solid #ccc9c9;
  box-shadow: 10px 10px 10px black;
}
.menu ul li:hover ul {
  display: block;
  margin: 0.6% 0 0 0;
  background: #474040;
  padding: : 0;
  border: 1px solid black;
    opacity: .8;
}
.menu ul li:hover ul li {
  text-align: center;
  padding-left: 0;
  margin-left: 0;
}


.bio {
  margin-top: 10px;


}
.wrapper {
  width: 95%;
  margin: 0 auto 0 auto;
  text-align: center;
  background-color: #red;
  /*border: 2px solid red;*/
    display: flex;/*the contents within the wrapper is displayed in flex*/
  flex-direction: row;/*the flexed contents are placed in a row*/

}
body .wrapper .img img {
  width: 150px;
  height: 200px;
  border: 2px solid black;
  border-radius: 97px;
}

body .wrapper video {
  width: 402px;
  height: 226px;
  margin-left: 0px;
  margin-top: 0px;
  border-radius: 18px;
}
body .wrapper .lol {
  margin-top: 50px;
}
footer{
  background:#193441;
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  display: flex;
}/*the contents inside the footer is styled*/
footer .class{
padding-left: 37%;
flex-direction: row;
}
footer .cont {
padding-left: 20px;
padding-top: 20px;
}
footer .social {
padding-left: 20%;
}
@media (max-width:600px){

  .menu ul{flex-direction: column;}
  .menu ul li{width: 100%; text-align: center;}

  body {
    width: 100%;
  }
  body .bio .wrapper {
    display: flex;
    flex-direction: column;
  }

  footer {
    margin-top: 5%;

  }
}/*shows how the contents should be styled when the window size in shrunk into 600px size*/
