header{
  background: black;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0px;
  height: 20px;
}/*shows how the contents within the header should be styled*/

header .lol img {
  flex-direction: row;
  height: 50px;
  width: 69px;
  border-radius: 90px;
} /*shows how the images within lol class in header should be styled*/
header.lol img:hover {
  box-shadow: 3px 3px;

  border: 5px solid red;
} /*shows how the image within lol class should be styled when mouse hoves over it*/

  /*padding-top: 0;*/
  padding-bottom: 0;
  border-radius: 100px;

}
body{

width: 100%;
background-color: #ccc;
}/*shows how the contents wiithin body should be styled*/
.menu {
  margin-top: -4px;
  margin-bottom: -4.5px;


}

.menu ul {

  margin: 0 0 0 0;

  list-style: none;
  background: #193441;
  display: block;
  display: flex;
  justify-content: space-around;;
  /*opacity: .6;*/

} /*shows how the ul within menu class should be styled*/

.menu ul li {

  flex-direction: row;
  color: white;
  padding: 8px;
    font-family: 'Poppins', sans-serif;/*the google api font is used*/
}

.menu ul li ul {
  display: none;
  position: absolute;width: 10%;
} /*shows how the ul within the list items within the other ul should be styled*/

.menu ul li a {
  color: white;
  text-decoration: none;/*removes the underline of the hyperlinked text*/
}

.menu ul li:hover {
  background-color:#6374c6;
  border: 1px solid #ccc9c9;
  box-shadow: 03px 03px 10px black;
} /*shows how the list items should be styled within the ul when mouse hovers over it*/
.menu ul li:hover ul {
  display: block;
  margin: 0.6% 0 0 0;
  background: #474040;
  padding: : 0;
  border: 1px solid black;
    opacity: .8;
    b
}
.menu ul li:hover ul li {
  text-align: center;
  padding-left: 0;
  margin-left: 0;

}
.wrapper {
  width: 970px;
  margin: 0 auto 0 auto;
  text-align: center;
  background-color: #red;
}
.form{
  background-color: #ccc;
  margin-bottom: -15px;

}

.form form input {

  width: 40%;
  height: 30px;
  margin-bottom: 4px;
  padding:0px 0.5%;
  border: 1px solid #ccc;
  margin-left: 20px;
  margin-top: 5px;
  padding: 25px;
}
.form-radio {
  margin-left: 20px;
  width: 1% !important;/*defined that this part should be given more priority and
  this part should be used*/
  height: 10px;
}
.form form p {


  font-size: 16px;
  color: #282828;
    font-family: 'Poppins', sans-serif;
}
.form form textarea {
  resize: none;
  width: 40%;
  height: 200px;
  border: 1px solid #ccc;
  font-size: 16px;
    font-family: 'Poppins', sans-serif;
  margin-left: 20px;
}
.form button {

  width: 80px;
  height: 30px;
  background: orange;
  border: 2px solid #ccc;
  color: #fff;
    font-family: 'Poppins', sans-serif;
  text-transform: uppercase;/*shows that the texts should be in uppercase*/
  margin: 3px;
  margin-left: 20px;
}
.form button:hover {
  box-shadow: 03px 03px 10px black;
}
footer {
  background:#193441;
  font-size: 18px;
    font-family: 'Poppins', sans-serif;
  color: white;
  display: flex;/*shows that the contents inside the footer should be displayed in flex*/
  margin-top: 16px;
}
.all {
  font-size: 20px;
    font-family: 'Poppins', sans-serif;
  padding-left: 35%;
}
footer .class{
  padding-left: 37%;
  flex-direction: row;
}
footer .cont {
  padding-left: 20px;
  padding-top: 20px;
}
footer .social {
  padding-left: 20%;
}

@media (max-width:600px){

  .menu ul{flex-direction: column;}
  .menu ul li{width: 100%; text-align: center;}

  body {
    width: 100%;
  }
  .form .wrapper {
    width: 100%;
    margin-right: 3%;
  }

  .form .wrapper form input {
    margin-left: 3%;
  }
.form .wrapper form textarea{
  margin-left: 3%;
}
.form .wrapper form button{
  margin-left: 3%;
}
.form .wrapper .all {
  padding-left: 3%;
}
  footer {
    width: 100%;
    margin-top: 5%;

  }
  footer .class{
    padding-left: 15%;
  }
  .cont {
    padding-left: 0%;
    text-align: center;
  }
  footer .social {
    padding-left: 25%;
  }
}/*shows how the contents should be styled when the window has shrunk to the size of 6oopx*/
