header{
  background: black;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0px;
  height: 20px;
}
/*header .lol {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}*/
header .lol img {
  flex-direction: row;
  height: 50px;
  width: 69px;
  border-radius: 90px;
}
header.lol img:hover {

  border: 5px solid red;
}

  /*padding-top: 0;*/
  padding-bottom: 0;
  border-radius: 100px;

}
body{
  /*background-image: url(jungle.jpg) ;
  background-image: url(ka.jpg);*/
width: 100%;
background-color: #ccc;


}

.menu {
  margin-top: -4px;
  margin-bottom: -4.5px;


}

.menu ul {

  margin: 0 0 0 0;

  list-style: none;
  background: #193441;
  display: block;
  display: flex;
  justify-content: space-around;;
  /*opacity: .6;*/

}

.menu ul li {

  flex-direction: row;
  color: white;
  padding: 8px;
  font-family:sans-serif;
}

.menu ul li ul {
  display: none;
  position: absolute;width: 10%;
}

.menu ul li a {
  color: white;
  text-decoration: none;
}

.menu ul li:hover {
  background-color:#6374c6;
  border: 1px solid #ccc9c9;
  box-shadow: 10px 10px 10px black;
}
.menu ul li:hover ul {
  display: block;
  margin: 0.6% 0 0 0;
  background: #474040;
  padding: : 0;
  border: 1px solid black;
    opacity: .8;
}
.menu ul li:hover ul li {
  text-align: center;
  padding-left: 0;
  margin-left: 0;
}
.back {
  width: 100%;
  margin-top: -6px;
  background-color: #193441;

}
.back .cv{
  font-size: 40px;
  margin-left: 42px;

  font-family: sans-serif;
  color: white;
}
.wrapper {
  background-color: #cccccc;
  width: 100%;
  margin: 0 auto 0 auto;
  text-align: center;
  background-color: #red;
  font-size: 15px;
  font-family: sans-serif;
}
.grey {
  background-color: #cccccc;
  display: flex;
  flex-direction: row;
}
.grey ul {
  padding-left: 10px;
}
.heading {
  font-size: 20px;
  font-family: sans-serif;
  margin: -10px;
}

footer {
  background:#193441;
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  display: flex;
  margin-top: 16px;
}
.all {
  font-size: 20px;
  font-family: sans-serif;
  padding-left: 35%;
}
footer .class{
  padding-left: 37%;
  flex-direction: row;
}
footer .cont {
  padding-left: 20px;
  padding-top: 20px;
}
footer .social {
  padding-left: 20%;
}
@media (max-width:600px){

  .menu ul{flex-direction: column;}
  .menu ul li{width: 100%; text-align: center;}

  footer {
    margin-top: 60%;

  }




}
