/*Student name: Anish Pithakote*/
/*tudent ID number:16441457*/

html {
  background-image: url("../images/lol.jpg");
}


  header .lol img {

  }/* defines the styling of the img file inside lol class within the header*/
header{
  background: black;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0px;
  height: 20px;
}/*defines the contents inside the header*/



header .lol img {
  flex-direction: row;
  height: 50px;
  width: 69px;
  border-radius: 90px;
}/*defines the images within the lol class insid the header*/
header.lol img:hover {

  border: 5px solid red;
}/*defines the styling of th img file when the mouse hovers over it*/








body{
  width: 100%;
  background-color: #ccc;
} /*defines that the body should have a 100% width with the specified background colour*/

.menu {
  margin-top: -4px;
  margin-bottom: -4.5px;


} /*defines how the contents within the menu class shpould be styled and defines the position of the menu class*/

.menu ul {

  margin: 0 0 0 0;

  list-style: none;
  background: #193441;
  display: block;
  display: flex;/*the contents inside the ul within menu class is displayed in flex*/
  flex-direction: row;/*the flexed contents are displayed in row*/
  justify-content: space-around;/*the flexed contents are justified*/
  /*opacity: .6;*/

}

.menu ul li {
  color: white;
  padding: 8px;
font-family: 'Poppins', sans-serif; /*the google api fonts are used*/
}

.menu ul li ul {
  display: none;
  position: absolute;width: 10%;
}

.menu ul li a {
  color: white;
  text-decoration: none;/*the underline of the hyperlink is removed*/
}

.menu ul li:hover {
  background-color:#6374c6;
  border: 1px solid #ccc9c9;
  box-shadow: 10px 10px 10px black;
}/*Defines how the contents should be styled when mouse hovers over it*/
.menu ul li:hover ul {
  display: block;
  margin: 0.6% 0 0 0;
  background: #474040;
  padding: : 0;
  border: 1px solid black;
    opacity: .8;
    /*Defines how the contents should be styled when mouse hovers over it*/
}
.menu ul li:hover ul li {
  text-align: center;
  padding-left: 0;
  margin-left: 0;
  /*Defines how the contents should be styled when mouse hovers over it*/
}
.main {
      margin-top: 11px
  animation-name: anish;
  animation-duration: 5s;
  overflow: hidden;
  background-image: url(E:\Web Development\Assignment 1\csy1018-assign1\images\ka.jpg);
  border-bottom: 2px solid #ccc9c9;
}/*defines on how the contents in the main class should be styled */
.main ul {

  display: flex;
  justify-content: space-between;
  padding: 0 0 0 0;
  position: relative;
  width: 400%;
  margin: 0 0% 0 0%;
  left: 0;
  text-align: left;
  /*margin-left: 10%;*/
  font-size: 0;
  animation: 12.5s anish infinite;
}
.main ul li {


  width: 20%;
  flex-direction: row;
  padding: 0.1% ;
  padding-left: 5%;
  /*border: 1px solid black;
*/
  list-style: none;
}
body .out {
  background-image: url("../images/lol.jpg");

}

}
.content {
  background:  # 665959;
}
.wrapper {
  height: 509px;
  width: 100%;
  margin: 0 auto 0 auto;
  text-align: center;
  background-color: #red;
}
.news {
  width: 100%;
  padding: 80px 0px;
  font-family: 'Poppins', sans-serif;
  margin-top: -6px;
  height: 354px;

}
.wrapper {
  background: #cccccc;

  margin-top: -80px;
  border:2px solid  #827777;
  border-top: 4px solid grey;

}

  .news article {
    width: 70%;
    padding:1% 13%;



  }

  .news article ul {
    display: flex;
    text-align: center;
    flex-direction: row;
    padding-top: 10%;
    justify-content: space-between;

  }
  .news article ul li img {
    width: 150px;
    height: 120px;
    border: 2px solid  #a38d8d;;
    border-radius: 60px;

  }
  .news article ul li {
    padding: 8%;

    list-style: none;
  }
  .news article ul li a {
    text-decoration: none;
  }
  .news article ul li img:hover {
    border: 3px solid red;
    transition: all 0.455;
    box-shadow: 10px 10px 15px black;
  }  /*Defines how the contents should be styled when mouse hovers over it*/

  footer{
    background:#193441;
    font-size: 18px;
  font-family: 'Poppins', sans-serif;
    color: white;
    display: flex;
} /*defines how the contents inside the footer should be styled in*/
footer .class{
  padding-left: 37%;
  flex-direction: row;
}
footer .cont {
  padding-left: 20px;
  padding-top: 20px;
}
footer .social {
  padding-left: 20%;
}



@keyframes anish {
  0% {
    left: 0;

  }
  20%  {
    left: 0;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}/*helps in the sliding of the images*/
@media (max-width:600px){

  .menu ul{flex-direction: column;}
  .menu ul li{width: 100%; text-align: center;}
  .news article ul {flex-direction: column; }
  .news article ul li{width: 100%;}
  footer {
    margin-top: 60%;

  }
  .menu ul li:hover {
    box-shadow: 03px 03px 10px black;
  }
  .out .main ul li img {
      width: 300px;
      height: 200px;
  }
}/*defines on how the website will look when the window has been shrunk in to the width of 600px*/
